$primary: #F7DE25;
$secondary: #303030;
$dark: #121F1F;
$light: #fffad7;
$body-bg: #121F1F;
$body-color: #111;

$nav-link-color: #1F3B63;
$nav-pills-link-active-color: #FFFFFF;
$nav-pills-link-active-bg: $dark;
@import "../../node_modules/bootstrap/scss/bootstrap";